body {
	display: flex;
}

.data {
	background: #eee;
	border: 1px solid #cacaca;
	flex: 1;
	margin-bottom: 20px;
	padding: 20px;
}

.loading-img {
	display: none;
	width: 30px;
}

.loading-img.is-visible {
	display: block;
}
