body {
	display: flex;
}

.content {
	background: #eee;
	border: 1px solid #cacaca;
	flex: 1;
	margin-bottom: 20px;
	padding: 20px;
}

.loading {
	display: none;
	margin: 0 auto;
	padding-bottom: 10px;
	text-align: center;
}

.loading.is-visible {
	display: block;
}

.loading__img {
	width: 30px;
}

.loading__text {
	margin: 0;
}
